{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "commonjs": true,
    "es6": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  }
}
